h1{
    text-align: center;
}
.outer{
    height: 600px;
    width: 1000px;
    display: flex;
    background-color: rgb(143, 184, 184);
    margin: 10px auto;
    flex-direction: row;
    
    
}
.box{
    height: 100px;
    width: 200px;
    margin: 20px;

}
.box1{
    background-color: aqua;
   
}
.box2{
    background-color: rgb(199, 76, 62);
   
}
.box3{
    background-color: rgb(60, 31, 129);
  
}
.box4{
    background-color: rgb(8, 7, 10);
  
}
.box5{
    background-color: rgb(201, 224, 69);
  
}
.box6{
    background-color: rgb(206, 44, 133);
  
}