/* #myId p{
    color: green;
} */
 /* h1{
    color: pink;
 }
 #greet{
    color: yellow;
 }
 .myClass{
    color: brown;
 } */
  .outer{
   height: 200px;
   width: 70px;
   border: 2px solid black;
  }