.box1{
    height: 300px;
    width: 400px;
    background-color: aquamarine;
    /* text-align: center;
    align-items: center; */
    margin: auto;
    margin-top: 200px;
    transform: rotate(45deg);
}